div#hormenu {
width: 100%;
float: left;
margin: 0;
padding: 0;
}

div#hormenu ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

div#hormenu li
{
float:left;
margin: 0;
padding: 0;
margin-top: 2px;
}

div#hormenu a
{
display: block;
padding: 5px;
color: #000;
text-decoration: none;
}
div#hormenu a:hover
{
color: ;
text-decoration: underline;
text-decoration-color: ;
text-decoration-style: solid;
}

div#hormenu li ul
{
display: none
}
div#hormenu li:hover ul
{
display: block;
text-align: left;
position: absolute;
z-index:1;
width:110px;
padding: 0;
margin: 0 0 0 -1px;
background: rgba(255,255,255,0.76);
}

div#hormenu li ul li:hover{
	width: 110px;
	background:  rgb(255,255,255);
}
div#hormenu li ul li a:hover{
	text-decoration: underline;
	text-decoration: black;
	text-decoration-style: solid;
}