/*Versione 1.0*/
/*@font-face {
  font-family: 'CCS_Font';
  src: url('../Font/Krona_One/KronaOne-Regular.ttf') format('truetype');
}*/
html{
  margin:0;
  color:#104670;
  font-family: CCS_Font;
}
a{
  color:#104670;
  text-decoration: none;
}
a :hover{
  color: #f53f59;
  text-decoration: underline;
}
.blue_CCS{color: #104670;}
.red_CCS{color: #f53f59;}
/*nav-bar*/
#header{
  background-color: white;
  width: 100%;
  height: 125px;
  position: fixed;
  overflow: hidden;
  z-index: 0;
  margin-top: -75px;
  margin-left: -10px;
}
#head{
  width: 100%;
  height: 70px;
  position: fixed;
  overflow: hidden;
  z-index: 0;
  margin-left: 0px;
  margin-top: -20px;
  background-color: white;
}
#body{
  	margin-top: 75px;
}
/**/
/*FOOT*/
#foot{
  background-color: #072e4d;
  height: 75px;
}
.foot_text{
  text-align: center;
	font-size: 25px;
	padding-top:25px;
  color: white;
}
/**/
/*body*/
.menu{
  margin:0;
  width: 100%;
  overflow: hidden;
  margin-top: 0px;
  background-color: white;
}
.menu ul {
  list-style: none;
}
.menu ul li{
  float: left;
  text-align: center;
  font-size: 1.8vw;
  width: 19%;
}
.menu ul li :hover{
  color: #f53f59;
  text-decoration: underline;
}
.menu ul li a{
}
/**/
.bandiera{
  position: absolute;
  z-index: 2;
  margin-top: 20px;
  margin-left: 95%;
  width: 25px;
}
.logo{
  margin-top:0px;
  background-color: white;
}
.paragrafo {
  font-size: 1.5vw;
  padding-left: 30px;
  text-align: justify;
}
.paragrafo_c{
  font-size: 1.2vw;
  padding-top: 15px;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
}
.l_padding{
  padding-left: 30px;
  padding-top: 0px;
  font-size: 1.5vw;
}
.paragrafo h3{
  text-align: justify;
  padding-top:15px;
  padding-left: 15px;
}
.paragrafo_title_c{
  text-align: center;
}
.title{
	padding-left: 20px;
	font-size: 2.5vw;
	font-weight: bold;
}
/*ottimizzazione schermi*/
@media screen and (max-width: 1023px){
  #desk{
    display: none;
  }
  #moble{
    display: block;
  }
}
@media screen and (min-width: 1024px){
  #desk{
    display: block;
  }
  #mobile{
    display: none;
  }
}

.paragrafo_title {
	font-size: 2vw;
	padding-left: 20px;
	font-weight: bold;
}